@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Oxanium:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  font-family: Poppins;
  color: #f0f0f0;
}
body {
  background: black;
  color: #a2a5b3;
  align-content: center;
}
h1 {
  color: white;
}
.nav-link {
  font-family: "Orbitron", serif;
}
#logo {
  width: 150px;
  height: 100px;
  border-radius: 50%;
}
#nv-1 {
  margin-right: 20px;
}
.dropdown-item {
  font-family: "Orbitron", serif;
  font-size: small;
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
.nav-item.dropdown:hover > .nav-link {
  color: #fff;
}
.intro {
  margin-left: 50px;
  font-family: "Oxanium", serif;
}
.intro h1 {
  font-size: 50px;
  color: #4070f4;
}
.intro .title {
  color: white;
}
.intro .text {
  position: relative;
  font-size: 50px;
  color: #4070f4;
}
.intro .text.first-text {
  color: white;
}
.text.sec-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  border-left: 2px solid #4070f4;
  animation: animate 4s steps(12) infinite;
}
@keyframes animate {
  40%,
  60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
.rocket {
  position: relative;
  border-radius: 10%;
}
